/* src/pages/Payment.css */

.payment {
    padding: 20px;
    text-align: center;
  }
  
  .payment-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
  }
  
  .payment-card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 200px; /* Set a width for the cards */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center; /* Center-align text */
  }
  
  .payment-card:hover {
    transform: scale(1.05); /* Scale effect on hover */
  }
  
  .payment-icon {
    width: 50px; /* Adjust the icon size */
    height: 50px;
    margin-bottom: 10px; /* Space between icon and text */
  }
  
  .pay-button {
    display: inline-block;
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from links */
    font-size: 16px;
  }
  
  .pay-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
 /* Footer Section */
.footer-logo-image, .footer-links, .social-media {
  opacity: 0;
  transform: translateY(30px); /* Initial off-screen position */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Animation transition */
}

.footer-logo-image.show, .footer-links.show, .social-media.show {
  opacity: 1;
  transform: translateY(0); /* Slide into view */
}
